{% extends "base.html" %}

{% block content %}
<div style="margin: 15px;">
<img src={{imag}} onerror="this.src='/static/inf/covers/classic.png'" width="200" height="200">
<p>{{form.title.label}}</p>
{{ form.hidden_tag() }}
<h3>Загрузи обложку</h3>
<form method="post" enctype="multipart/form-data">
    {{form.title}}
    <div class="add-song-add-cover">
        <input type="file" class="form-control-file" id="photo" name="file" accept="image/png,image/jpeg">
    </div>
    {{form.link_spotify.label}}
    {{form.link_spotify}}
    {{form.link_yandex.label}}
    {{form.link_yandex}}
    {{form.link_youtube.label}}
    {{form.link_youtube}}
<h3>Выбери жанр</h3>
{% for elem in genres %}
    {% if choosed == elem.id %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="genre" id={{choosed}} value={{elem.id}} checked>
        <label class="form-check-label" for={{elem.id}}>{{elem.name}}</label>
    </div>
    {% else %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="genre" id={{elem.id}} value={{elem.id}}>
        <label class="form-check-label" for={{elem.id}}>{{elem.name}}</label>
    </div>
    {% endif %}
{% endfor %}
{{form.update}} <br>
{{form.public}}
</form>
</div>
{% endblock %}