<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles/base.css">
</head>
<body>
<header class="head">
{% if current_user == None %}
<div class="base-top">
    <a href="/register" class="user">Регистрация</a>
    <a href="/login" class="user">Логин</a>
</div>
<h1>Зарегистрируйся, чтобы пользоваться нашим сервисом!</h1>
{% else %}
<div class="base-top">
    <a href="/my_profile" class="user">Мой профиль</a>
    <a href="/">Главная</a>
</div>
</header>
<main role="main" class="container">
    {% block content %}
    {% endblock %}
{% endif %}
</main>
</body>
</html>