{% extends "base.html" %}

{% block content %}
<h1>Запись от {{user.name}}</h1>
<h1>{{post.title}}</h1>
<div>
    {{post.content}}
</div>
<div>
    Лайков {{post.likes}}
</div>
{% if typeuser != "void" %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {% if form.like.label.text == 'Нравится' %}
        {{ form.like(class='post-liked') }}
    {% else %}
        {{ form.like(class='post-like') }}
    {% endif %}
    {{ form.comment }}
    {{ form.public_comment }}
</form>
<h2>Комментарии</h2>
{% for elem in comments %}
<div class="comment-post">
    <a href={{elem.get_user_link()}}>{{elem.get_user_name()}}</a>
    <div>
        {{elem.text}}
    </div>
</div>
{% endfor %}
{% else %}
<h2>Зарегистрируйся, чтобы оставлять комментарии и лайки!</h2>
{% endif %}
{% endblock %}