{% extends "base.html" %}

{% block content %}
<h1>Запись от {{user.name}}</h1>
<h1>{{post.title}}</h1>
<div>
    {{post.content}}
</div>
<div>
    Лайков {{post.likes}}
</div>
{% if typeuser != "void" %}
<form action="" method="post" novalidate>
    {% if form.like.label.text == 'Нравится' %}
        {{ form.like(class='post-liked') }}
    {% else %}
        {{ form.like(class='post-like') }}
    {% endif %}
    <a href="comment">Прокомментировать</a>
</form>
<h2>Комментарии</h2>
{% for elem in comments[::-1] %}
<div class="comment-post">
    <div style="display: flex; align-items: center;">
        <img src={{get_avatar(elem.user_id)}} width="50px" height="50px" class="avatar">
        <a href={{elem.get_user_link()}} style="margin-left: 20px">{{get_author(elem.user_id)}}</a>
    </div>
    <div>
        <p style="word-wrap: break-word">{{elem.text[:400]}}</p>
    </div>
</div>
{% endfor %}
{% else %}
<h2>Зарегистрируйся, чтобы оставлять комментарии и лайки!</h2>
{% endif %}
{% endblock %}