{% extends "base.html" %}

{% block content %}

<h1 style="display: flex;justify-content: center;">Записи в блоге</h1>

{% if typeuser != "void" %}
<div class="start-posts">
<div class="start-post">
    <p style="display: flex;justify-content: center;"><img src="/static/inf/buttons/add_post.png" width="200px" height="200px"></p>
    <a href="/add_news"><h2 style="text-align: center; color: black;">Добавить новость</h2></a>
</div>
{% endif %}
{% for item in news%}
{% if item.user.id != 1 %}
<div class="start-post">
    <div class="link-on-user">
    <a href={{item.user_link}}>{{item.user.name}}</a>
    </div>
    <div class="post-title">
    <h2>{{item.title[:30]}}</h2>
    </div>
    <div class="post-content">
    <p style="word-wrap: break-word">
        {{item.content[:50]}}
    </p>
    </div>
    <a href={{item.post_link}}>Подробнее</a>
</div>
{% endif %}
{% endfor %}
<h1 style="display: flex;justify-content: center;">Песни</h1>
</div>
<div class="start-songs">
    <div class="start-song">
        <p style="display: flex;justify-content: center;"><img src="/static/inf/buttons/add_song.png" width="200px" height="200px"></p>
        <a href="/add_song"><h2 style="text-align: center; color: black;">Добавить песню</h2></a>
    </div>
    {% for item in songs %}
    <div class="start-song">
        <p style="display: flex;justify-content: center;"><img src={{item.cover}} onerror="this.src='/static/inf/covers/classic.png'"
            width="200px" height="200px"></p>
        <a href="redirect-song/{{item.id}}"><h2 style="text-align: center; color: black;">{{ item.title }}</h2></a>
        <h3 style="text-align: center; color: black; margin-top: 15px;">{{get_aut(item.user_id)}}</h3>
    </div>

    {% endfor %}
</div>
{% endblock %}
