body {
background-color: #ebeff5;
margin: 0
}
.logo {color: blue;
font-family: "Impact";
font-size: 36px;
}
.avatar {
border-radius: 100px;
}
h1 {
font-family: "Tahoma";
font-size: 32px;
}
h2 {
font-family: "Tahoma";
font-size: 28px;
}
h3 {
font-family: "Tahoma";
font-size: 18px;
}
a {
font-family: "Bahnschrift Condensed";
font-size: 18px;
}
p {
font-family: "Tahoma";
font-size: 16px
}
.head {width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    top: 0;}
.user-posts {width: 15em;
  height: 20em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
.post-title {
height: 8em;
}
.post-content {
height: 6em;
}
.start-post {height: 20em;
  border: 1px solid #333;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  display: inline-block;
  vertical-align: top;
  transition: box-shadow 0.1s ease-in;
  width: 15em}

.start-post:hover {
  box-shadow: 8px 8px 5px #444;
}
.start-song {
  height: 20em;
  border: 1px solid #333;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  vertical-align: top;
  display: inline-block;
  transition: box-shadow 0.1s ease-in;
  width: 15em
}
.start-song:hover {
box-shadow: 8px 8px 5px #444;
}

.comment-post{
height: 6em;
border: 1px solid #333;
box-shadow: 8px 8px 5px #444;
padding: 8px 12px;
background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.start-add-news{
position: relative
}

.post-liked{
background-color: red;
}
